<!DOCTYPE html>

<html>

<head>

<title>AI Sentiment Analysis</title>

<style>

body{

font-family:Arial;

background:#f4f4f4;

text-align:center;

padding:50px;

}

textarea{

width:500px;

height:120px;

font-size:18px;

}

button{

padding:10px 20px;

font-size:18px;

margin-top:20px;

}

.result{

margin-top:30px;

font-size:25px;

font-weight:bold;

color:green;

}

</style>

</head>

<body>

<h1>AI Sentiment Analysis</h1>

<form method="POST">

<textarea name="message" placeholder="Enter your text here"></textarea>

<br><br>

<button type="submit">Analyze Sentiment</button>

</form>

<div class="result">

{{ prediction }}

</div>

</body>

</html>